SUPABASE_DATABASE_URL=postgresql://postgres:[PASSWORD_SECRET]@db.cvrremzemwovoaojxsae.supabase.co:5432/postgres
ADMIN_EMAIL=admin@jalisconrutas.com
ADMIN_PASSWORD=PASSWORD_SECRET
# O mejor usa hash:
# ADMIN_PASSWORD_HASH=$2y$10$...
