SUPABASE_DATABASE_URL=postgresql://postgres:UZDk2DsL8zBeX0Wb@db.cvrremzemwovoaojxsae.supabase.co:5432/postgres
ADMIN_EMAIL=admin@jalisconrutas.com
ADMIN_PASSWORD=UZDk2DsL8zBeX0Wb
# O mejor usa hash:
# ADMIN_PASSWORD_HASH=$2y$10$...
